/*
102.153.255	51.102.255	0.0.255	0.0.204	0.51.204	0.0.51
*/
QMainWindow{
    background: rgb(0, 0, 51);
    border-color: rgb(0, 0, 51);
    border: 1px solid frames;
    border-radius: 4px;
}

QFrame{
    border-raduis: 10px;
    border: 1px solid frames;
}

QTabWidget{
    background: rgb(0, 0, 51);
    border-color: rgb(102, 153, 255);
}