#MainWindow {
    color: yellow;
    background: rgb(120, 120, 120);
}

QPushButton{
    background-color: rgb(80, 80, 80);
    border: 1px solid black;
    border-radius: 3px;
    color: yellow;
}
QPushButton:hover{
    background-color: rgb(230, 97, 0);
}

QPushButton:pressed{
    background-color: rgb(200, 200, 200);
}

#pb_estop{
    background-color: rgb(0, 250, 0);
    color: blue;
}

#pb_estop:checked{
    background-color: rgb(250, 0, 0);
    color: yellow;
}

#pb_estop:hover{
    background-color: rgb(230, 97, 0);
}

#pb_power{
    background-color: rgb(250, 0, 0);
    color: yellow;
}

#pb_power:checked{
    background-color: rgb(0, 250, 0);
    color: blue;
}

#pb_power:hover{
    background-color: rgb(230, 97, 0);
}

#pb_home_all{
    background-color: rgb(250, 0, 0);
    color: yellow;
}

#pb_home_all:checked{
    background-color: rgb(0, 250, 0);
    color: blue;
}

#pb_home_all:hover{
    background-color: rgb(230, 97, 0);
}




#lbl_probe, #lbl_torch,
#lbl_arc_ok, #lbl_thc{
    background-color: rgb(250, 0, 0);
    border: 1px solid black;
    border-radius: 5px;
    color: yellow;
}



